requests==2.18.4
packaging==21.3
Flask==2.0.3
pynput==1.6.8
setuptools==59.6.0 # Do not remove. It will fail the ewmh installation
ewmh==0.1.6
pycryptodome==3.19.0

# certifi==2023.11.17
# charset-normalizer==3.0.1
# idna==3.6
# Naked==0.1.32
# python-xlib==0.33
# PyYAML==6.0.1
# shellescape==3.8.1
# six==1.16.0
# urllib3==1.22
# crypto==1.4.1